body{
  margin:0;
  background:#17212b;
  color:white;
  font-family:Arial,sans-serif;
}

.header{
  background:#2AABEE;
  padding:15px;
  text-align:center;
  font-size:22px;
  font-weight:bold;
}

.chat{
  padding:15px;
}

.message{
  background:#2b5278;
  padding:10px;
  border-radius:10px;
  margin:10px 0;
  width:fit-content;
}
